<cart-flags
  {% if request.design_mode %}
    handle-section-events
  {% endif %}
  class="cart-drawer drawer drawer--lg"
  id="cart-flags"
>
  <div>
    <div class="cart-drawer__top">
      <div class="h-stack items-center justify-between">
        <p class="h5">Formas de Pagamento</p>
        <button type="button" is="close-button" class="drawer__close-icon" style="z-index: 99;">
          <span class="sr-only">Fechar</span>
          {%- render 'icon' with 'close' -%}
        </button>
      </div>
    </div>
    <div class="cart-drawer__body">
      <!-- Adicione o conteúdo desejado -->
      <ul>
        <li>Cartão de Crédito</li>
        <li>Boleto Bancário</li>
        <li>Pix</li>
      </ul>
    </div>
  </div>
</cart-flags>
{% schema %}
{
  "name": "Formas de Pagamento",
  "settings": [
    {
      "type": "paragraph",
      "content": "Este drawer exibe as formas de pagamento disponíveis para seus clientes."
    }
  ]
}
{% endschema %}
