{% comment %}
   Page Liquid for Easy GDPR Shopify app: https://apps.shopify.com/easy-gdpr
   The 3 GDPR pages (Request Personal Data, My Personal Data, Edit Personal Data) should use this liquid.
   PLEASE DON'T MODIFY
{% endcomment %}
<style>.EG-container {
    width: 100%;
    margin: auto;
  }

  .EG-container div {
    max-width: 100%;
    /*width: 100%;
    left: 0;*/
  }

  .EG-container h1 {
    text-align: center;
  }

  .EG-edit-personal-data {
  	text-align: center;
  }

  .EG-my-personal-data {
    text-align: center;
  }

  .EG-request-personal-data {
    text-align: center;
  }

  .EG-request-personal-data input {
    width: 90%;
    display: inline-block;
  }
  
  .EG-table {
    font-size: 13px;
    width: 100%;
    padding: 10px 14px;
    table-layout: fixed;
    margin-bottom: 27.5px;
  }

  .EG-table td {
    overflow-wrap: break-word;
    text-align: justify;
  }

  .EG-table th {
    background-color: #444;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom-width: 2px;
    text-align: left;
  }

  .EG-table td, .EG-table th {
    border-right: 0;
    border-left: 0;
  }

  .EG-buttons {
    text-align: center;
  }
  .EG-button {
    width: auto !important;
    border: none;
  }
  .EG-loader {
    border: 5px solid #f3f3f3;
    animation: EG-spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px !important;
    height: 50px;
    margin: auto;
  }
  @keyframes EG-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  @media screen and (min-width: 751px) {
    .EG-table {
      table-layout: auto;
    }
    
    .EG-container-small {
      width: 700px;
      margin: auto;
    }
  }

  @media screen and (max-width: 750px) {
    .EG-table.responsive-table thead {
      display: none;
    }
    .EG-table.responsive-table tr {
      border-bottom: 2px solid #444;
      display: block;
    }
    .EG-table.responsive-table td {
      border-bottom: 1px solid #777;
      display: block;
      text-align: right;
      min-height: 1.5em;
    }
    .EG-table.responsive-table td:after,
    .EG-table.responsive-table td:first-child:after {
      left: 0px;
      right: 0px;
      border: 0px;
    }
    .EG-table.responsive-table td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

.EG-edit-textarea {
    width: 80%;
    height: 100px;
    margin: auto auto 20px auto;
}</style>
<div class="EG-container">
<div class="container container--narrow">
  <header class="page__header page__header--centered">
    <h1 class="page__title heading h1">{{ page.title }}</h1>
  </header>

  <div class="page__content rte">
    {{ page.content }}
  </div>
</div>
</div>

<div>
{% if customer %}
  {% assign hash_id = customer.id | append: '-' | append: shop.permanent_domain %}
{% else %}
  {% assign hash_id = '0-' | append: shop.permanent_domain %}
{% endif %}
  <input type="hidden" value="{{ hash_id | hmac_sha256: "h4JuCgsw)n@[#Sf>" }}" id="eg_hmac" />
  <input type="hidden" id="accounts_enabled" value="{{ shop.customer_accounts_enabled }}" />
</div>
